<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kuri2021.Test_Project">
    <!--
            android.hardware.camera없이 사용하는 .any경우 대부분의 Chromebook과 같이 후면 카메라가 없는 기기에서는 작동하지 않습니다.
        두 번째 줄은 해당 카메라에 액세스할 수 있는 권한을 추가합니다.
    -->
    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 카메라 권한 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera.flash" />
    <uses-feature android:name="android.hardware.camera.flash" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <queries>

        <!-- Browser -->
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <data android:scheme="http" />
        </intent>

        <!-- Camera -->
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>

        <!-- Gallery -->
        <intent>
            <action android:name="android.intent.action.GET_CONTENT" />
        </intent>
    </queries>

    <application
        android:name=".kakao_login.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Camera_Permission"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Text_Auto_Size.Text_Auto_Size_Activity"
            android:exported="true" />
        <activity
            android:name=".Fragment_in_ViewPager_22_01_12.Fragment_in_ViewPager_Main"
            android:exported="true" />
        <activity
            android:name=".iBeacon.DeviceScanActivity"
            android:exported="true" />
        <activity
            android:name=".GPS_21_12_23.GPS_Activity"
            android:exported="true" />
        <activity
            android:name=".permision_21_12_20.Permision"
            android:exported="true" />
        <activity
            android:name=".Kakao_Map.Kakao_Map"
            android:exported="true" />
        <activity
            android:name=".Camera_FlashLight21_12_14.New_Camera_Flash_21_12_14"
            android:exported="true" />
        <activity
            android:name=".kakao_login.Kakao_Login_susees"
            android:exported="true" />
        <activity
            android:name=".kakao_login.Kakao_Login"
            android:exported="true" />
        <activity
            android:name=".timer.Timer_Test"
            android:exported="true" />
        <activity
            android:name=".Retrofit_test.Retrofit_Test"
            android:exported="true" />
        <activity
            android:name=".CoordinatorLayout.CoordinatorLayout_Activity"
            android:exported="true"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Camera_Flash_Light21_11_30.Camera_Flash_Light21_11_30"
            android:exported="true" />
        <activity
            android:name=".Camera_FlashLight.Camera_FlashLight"
            android:exported="true" />
        <activity
            android:name=".Gamail.Gmail_Test"
            android:exported="true" />
        <activity
            android:name=".crop_211019.crop_211019"
            android:exported="true" />
        <activity android:name=".Camera_Crop_210915.croperino" />
        <activity android:name=".Camera_Crop_210914.Camera_Crop_210914" />
        <activity android:name=".Camera_Crop.Canera_Crop" />
        <activity android:name=".camera.camera_next" />
        <activity android:name=".Toast.Toast_Test" />
        <activity android:name=".Arrays.Arrays_example" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".camera.Camera_Zoom" />
        <activity android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="oauth"
                    android:scheme="kakaoabb3b1ea82d3d781b1b8b788b984cfdf" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="abb3b1ea82d3d781b1b8b788b984cfdf" />
    </application>

</manifest>